In [464]:
# Load EDA
import json
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [177]:
#Store the data
df=pd.read_csv('udemy.csv')

In [196]:
#show the data
df.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day,book_id,combined_features
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18,0,Ultimate Investment Banking Course
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9,1,Complete GST Course & Certification - Grow You...

In [214]:
#create a function to combine the important columns/features
def create_book_id_column(data):
    features=[]
    for i in range (0,data.shape[0]):
        features.append( i )
    
    return features

In [215]:
#Create a column to store the combined features
df['book_id']=create_book_id_column(df)
#show the data
df.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day,book_id,combined_features
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18,0,Ultimate Investment Banking Course
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9,1,Complete GST Course & Certification - Grow You...

In [186]:
#create a function to combine the important columns/features
def combine_feature(data):
    features=[]
    for i in range (0,data.shape[0]):
        features.append( data['course_title'][i])
    
    return features

In [182]:
#Create a column to store the combined features
df['combined_features']=combine_feature(df)
#show the data
df.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day,book_id,combined_features
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18,0,Ultimate Investment Banking Course
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9,1,Complete GST Course & Certification - Grow You...

In [187]:
#convert the text from the new column to a matrix of word counts
cm= CountVectorizer().fit_transform(df['combined_features'])
print(cm)

In [188]:
#Get the cosine similarity matrix from the count matrix
cs = cosine_similarity(cm)
#print the scores
#print(cs)

In [407]:
def search_term_not_found(term,df):
    result_df = df[df['course_title'].str.contains(term,case=False)]
    return result_df

In [463]:
def np_encoder(object):
    if isinstance(object, np.generic):
        return object.item()

In [467]:
def recommend_courses(title,cosine_similarity_matrix,df,num_of_rec=10):
    result_df = search_term_not_found(title,df)
    for row in result_df.iterrows():
        title = row[1][1]
        print(title)
        break;
                
    # indices of the course
    course_indices = pd.Series(df.index,index=df['course_title'])
    index=course_indices[title]
    print(index)        
    #create a list of tuples in the form (book_id,similarity scores)
    scores = list(enumerate(cs[index]))
    #print(scores)
    #sort the list of similar books in descending order
    try:
        sorted_scores = sorted(scores,key=lambda x:x[1],reverse= True)
        #show the sorted scores
        #sorted_scores
        #create a loop to print the first 5 books from the sorted list
        j=0
        # print('The 5 most recommended books to '+title+' are:\n')
        result=[]
        for item in sorted_scores:
            data= {
                        "course_title" : df[df.book_id==item[0]]['course_title'].values[0],
                        "url" :df[df.book_id==item[0]]['url'].values[0],
                        "price" :df[df.book_id==item[0]]['price'].values[0],
                        "num_subscribers" : df[df.book_id==item[0]]['num_subscribers'].values[0],
                        "num_reviews" : df[df.book_id==item[0]]['num_reviews'].values[0],
                        "num_lectures" : df[df.book_id==item[0]]['num_lectures'].values[0],
                        "duration" : df[df.book_id==item[0]]['content_duration'].values[0]
                    }
            print(data)
            result.append(data)
            j=j+1
            if j>10:
                break;
    except:
        result=[]
    return  json.dumps(result, default=np_encoder)

In [470]:
recommend_courses('azure',cs,df,5)

Learn Azure Cloud Step by Step
3608
{'course_title': 'Learn Azure Cloud Step by Step', 'url': 'https://www.udemy.com/marutiazure/', 'price': 20, 'num_subscribers': 791, 'num_reviews': 29, 'num_lectures': 24, 'duration': '2.5 hours'}
{'course_title': 'Learn AngularJS Step By Step', 'url': 'https://www.udemy.com/maruti-angularjs/', 'price': 20, 'num_subscribers': 18777, 'num_reviews': 1112, 'num_lectures': 21, 'duration': '1.5 hours'}
{'course_title': 'Learn ASP NET MVC 5 step by step', 'url': 'https://www.udemy.com/maruti-mvc5/', 'price': 20, 'num_subscribers': 1428, 'num_reviews': 91, 'num_lectures': 32, 'duration': '3 hours'}
{'course_title': 'Flask Tutorial Step by Step', 'url': 'https://www.udemy.com/python-flask-tutorial-step-by-step/', 'price': 0, 'num_subscribers': 4645, 'num_reviews': 171, 'num_lectures': 19, 'duration': '2 hours'}
{'course_title': 'Learn Basic Concepts of Economics Step by Step - Complete', 'url': 'https://www.udemy.com/introduction-to-economics-for-beginners/', 'price': 150, 'num_subscribers': 2801, 'num_reviews': 6, 'num_lectures': 25, 'duration': '1.5 hours'}
{'course_title': 'WordPress Academy: Learn WordPress step by step', 'url': 'https://www.udemy.com/wordpress-academy-course/', 'price': 150, 'num_subscribers': 1873, 'num_reviews': 360, 'num_lectures': 79, 'duration': '7.5 hours'}
{'course_title': 'Learn Laravel: Create Your Web App Step-By-Step', 'url': 'https://www.udemy.com/laravel-5-course-learn-php-laravel/', 'price': 45, 'num_subscribers': 604, 'num_reviews': 47, 'num_lectures': 35, 'duration': '4 hours'}
{'course_title': 'Step by Step Classical Guitar Course', 'url': 'https://www.udemy.com/step-by-step-classical-guitar-course/', 'price': 100, 'num_subscribers': 9, 'num_reviews': 1, 'num_lectures': 45, 'duration': '4.5 hours'}
{'course_title': 'Learn basics of South Indian Carnatic Flute Step by Step ', 'url': 'https://www.udemy.com/carnatic-flute/', 'price': 150, 'num_subscribers': 380, 'num_reviews': 113, 'num_lectures': 49, 'duration': '4 hours'}
{'course_title': 'Financial Modelling in Excel Step by Step', 'url': 'https://www.udemy.com/financial-modelling-course-using-excel/', 'price': 20, 'num_subscribers': 13, 'num_reviews': 2, 'num_lectures': 17, 'duration': '1.5 hours'}
{'course_title': 'Step by Step Gif animation in Photoshop', 'url': 'https://www.udemy.com/step-by-step-gif-animation-in-photoshop/', 'price': 20, 'num_subscribers': 518, 'num_reviews': 2, 'num_lectures': 17, 'duration': '1 hour'}

'[{"course_title": "Learn Azure Cloud Step by Step", "url": "https://www.udemy.com/marutiazure/", "price": 20, "num_subscribers": 791, "num_reviews": 29, "num_lectures": 24, "duration": "2.5 hours"}, {"course_title": "Learn AngularJS Step By Step", "url": "https://www.udemy.com/maruti-angularjs/", "price": 20, "num_subscribers": 18777, "num_reviews": 1112, "num_lectures": 21, "duration": "1.5 hours"}, {"course_title": "Learn ASP NET MVC 5 step by step", "url": "https://www.udemy.com/maruti-mvc5/", "price": 20, "num_subscribers": 1428, "num_reviews": 91, "num_lectures": 32, "duration": "3 hours"}, {"course_title": "Flask Tutorial Step by Step", "url": "https://www.udemy.com/python-flask-tutorial-step-by-step/", "price": 0, "num_subscribers": 4645, "num_reviews": 171, "num_lectures": 19, "duration": "2 hours"}, {"course_title": "Learn Basic Concepts of Economics Step by Step - Complete", "url": "https://www.udemy.com/introduction-to-economics-for-beginners/", "price": 150, "num_subscribers": 2801, "num_reviews": 6, "num_lectures": 25, "duration": "1.5 hours"}, {"course_title": "WordPress Academy: Learn WordPress step by step", "url": "https://www.udemy.com/wordpress-academy-course/", "price": 150, "num_subscribers": 1873, "num_reviews": 360, "num_lectures": 79, "duration": "7.5 hours"}, {"course_title": "Learn Laravel: Create Your Web App Step-By-Step", "url": "https://www.udemy.com/laravel-5-course-learn-php-laravel/", "price": 45, "num_subscribers": 604, "num_reviews": 47, "num_lectures": 35, "duration": "4 hours"}, {"course_title": "Step by Step Classical Guitar Course", "url": "https://www.udemy.com/step-by-step-classical-guitar-course/", "price": 100, "num_subscribers": 9, "num_reviews": 1, "num_lectures": 45, "duration": "4.5 hours"}, {"course_title": "Learn basics of South Indian Carnatic Flute Step by Step ", "url": "https://www.udemy.com/carnatic-flute/", "price": 150, "num_subscribers": 380, "num_reviews": 113, "num_lectures": 49, "duration": "4 hours"}, {"course_title": "Financial Modelling in Excel Step by Step", "url": "https://www.udemy.com/financial-modelling-course-using-excel/", "price": 20, "num_subscribers": 13, "num_reviews": 2, "num_lectures": 17, "duration": "1.5 hours"}, {"course_title": "Step by Step Gif animation in Photoshop", "url": "https://www.udemy.com/step-by-step-gif-animation-in-photoshop/", "price": 20, "num_subscribers": 518, "num_reviews": 2, "num_lectures": 17, "duration": "1 hour"}]'